In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import norm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier, RandomForestClassifier #wszystkie komitety pochodzÄ… z podpakietu sklearn.ensemble

# 12.1

In [ ]:
df1 = pd.read_csv('prostate.csv')

In [ ]:
df1

,1,2,3,4,5,6,7,8,9,10,...,6025,6026,6027,6028,6029,6030,6031,6032,6033,y
0,-0.930895,-0.839996,0.062508,-0.361594,-1.124427,-1.180492,-1.092276,-1.149624,-1.157503,0.219849,...,0.492456,-0.753197,0.377710,-0.845797,0.686091,-1.091779,0.347228,-0.901310,-0.252259,0
1,-0.751885,-0.848271,0.102895,2.421034,0.182211,0.639267,-0.224728,0.119039,1.694874,-0.074817,...,-0.959873,1.374652,-0.903991,1.332845,-0.574808,2.143548,0.101821,1.326812,-0.091503,0
2,-0.545781,-0.851687,-0.003043,-0.122089,0.837907,-1.195882,-0.931749,-1.164679,-0.549045,3.828663,...,-0.869585,-0.362556,-0.907472,-0.341481,-0.577905,-0.006464,-0.920312,-0.085084,-0.704808,0
3,-1.078519,-0.159610,0.215347,-0.096277,1.050548,0.654914,1.086128,-1.127224,0.603476,-0.532284,...,-0.928211,-0.909437,-0.872889,-0.823525,-1.055268,-1.069403,-0.792237,-0.879015,-0.672488,0
4,-0.994677,-0.751905,-1.163109,-1.130144,1.695673,0.878677,-1.097698,1.490272,1.314783,-1.112842,...,0.407184,-0.935771,-0.898889,-0.849075,-1.082933,-1.097196,-0.911702,-0.905071,-0.696659,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,2.054122,-0.450853,-1.049600,0.553022,3.995967,-1.105746,-1.164153,0.138336,-0.282382,-0.938565,...,-0.892589,1.461973,-0.163629,2.157779,-0.841948,1.419036,0.090991,0.898067,-0.546613,1
98,2.799498,1.385720,1.186599,0.118476,0.115477,0.378246,-0.102450,-1.149203,-0.659127,-0.920858,...,-0.875918,-0.495349,-0.490171,-0.508972,0.488729,-0.006916,-0.795695,-0.086979,-0.859999,1
99,1.294162,-1.143997,0.962634,1.220066,-1.167392,-0.135083,-0.159211,-1.144376,-1.094105,-0.914736,...,-0.869541,-0.881752,-0.877622,-1.064419,-1.167889,-0.894468,-0.788863,-0.681033,-0.853532,1
100,2.905588,-0.282119,-0.026753,-1.138651,-1.195660,-0.389769,0.952723,-0.887806,-1.030068,0.862200,...,-0.309148,-0.905544,-0.567570,-1.091074,0.351666,-0.918460,-0.811200,-0.701681,-0.876882,1
101,3.434504,-1.174233,1.533532,0.174831,-0.203642,1.316810,-1.166670,0.579443,0.708166,0.337700,...,0.151368,-0.910070,-0.574877,-1.094074,-1.198300,-0.342060,-0.243875,-0.707884,-0.161796,1

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df1.values[:,:-1], df1.values[:,-1], test_size = 0.3)

## b

In [ ]:
m1 = LogisticRegression(penalty = 'none', max_iter=1000)
m1.fit(x_train, y_train)

LogisticRegression(max_iter=1000, penalty='none')

In [ ]:
m2 = BaggingClassifier(base_estimator = LogisticRegression(penalty = 'none',max_iter=1000),n_estimators=100)
m2.fit(x_train, y_train)

BaggingClassifier(base_estimator=LogisticRegression(max_iter=1000,
                                                    penalty='none'),
                  n_estimators=100)

## d

In [ ]:
pred1 = m1.predict_proba(x_test)[:,1]
pred2 = m2.predict_proba(x_test)[:,1]
print(roc_auc_score(y_test, pred1))
print(roc_auc_score(y_test, pred2))

0.8201754385964912
0.881578947368421

# 12.2

In [ ]:

#a
# zbior
url = 'titanic.csv'
dataframe = pd.read_csv(url,header=0)
print(dataframe)
data = dataframe.values
data = data[::-1,:]
X, y = data[:,1:], data[:, 0]
y = y.astype(int)
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.7,test_size = 0.3) #podziaÅ‚ zbioru na czÄ™Å›Ä‡ treningowÄ… i testowÄ…
print(X_train.shape)

     Survived  Pclass  Sex   Age  Siblings.Spouses.Aboard  \
0           0       3    0  22.0                        1
1           1       1    1  38.0                        1
2           1       3    1  26.0                        0
3           1       1    1  35.0                        1
4           0       3    0  35.0                        0
..        ...     ...  ...   ...                      ...
882         0       2    0  27.0                        0
883         1       1    1  19.0                        0
884         0       3    1   7.0                        1
885         1       1    0  26.0                        0
886         0       3    0  32.0                        0

     Parents.Children.Aboard     Fare
0                          0   7.2500
1                          0  71.2833
2                          0   7.9250
3                          0  53.1000
4                          0   8.0500
..                       ...      ...
882                        0  13.0000
883                        0  30.0000
884                        2  23.4500
885                        0  30.0000
886                        0   7.7500

[887 rows x 7 columns]
(620, 6)

## b

In [ ]:
b1 = DecisionTreeClassifier().fit(X_train, y_train)

## c

In [ ]:
grid = GridSearchCV(BaggingClassifier(base_estimator = DecisionTreeClassifier(random_state=123)),
                    param_grid = {'n_estimators' : [50, 100, 1000]},
                    n_jobs=-1)
g = grid.fit(X_train, y_train)

In [ ]:
g.best_estimator_

BaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=123),
                  n_estimators=50)

In [ ]:
boost = GridSearchCV(AdaBoostClassifier(base_estimator = DecisionTreeClassifier(random_state=123)), param_grid={'n_estimators': [50,100,1000]}, n_jobs=-1)
b = boost.fit(X_train, y_train)

In [ ]:
drzewa = GridSearchCV(RandomForestClassifier(random_state = 123), param_grid = {'n_estimators': [50,100,1000]}, n_jobs = -1)
drzewa = drzewa.fit(X_train, y_train)

In [ ]:
a =g.predict_proba(X_test)[:,1]
abc = b.predict_proba(X_test)[:,1]
abcde = drzewa.predict_proba(X_test)[:,1]
print(roc_auc_score(y_test, a),
roc_auc_score(y_test, abc)),
roc_auc_score(y_test, abcde)

0.8554491017964072 0.822185628742515

0.8440119760479042

# 12.3

In [ ]:
n = 100
p = 10
beta0 = 1
beta1 = [2,1,0.5,0.01,0,2,1,0.5,0.01,0]
X = np.random.normal(0, 1, size = (n, p))
probs = norm.cdf(X@beta1+beta0) #p_i uzyskujemy przez obÅ‚oÅ¼enie kombinacji liniowej X i beta dystrybuantÄ… rozkÅ‚adu normalnego, norm ma teÅ¼ inne funkcje, jak np. gÄ™stoÅ›Ä‡ (norm.pdf)
y = np.random.binomial(1, probs) #uÅ¼ywamy pi do generowania wartoÅ›ci 0 lub 1 za pomocÄ… rozkÅ‚adu Bernoulliego (dokÅ‚adnie rozkÅ‚adu dwumianowego z parametrem n=1)
X_test,X_train,y_test,y_train = train_test_split(X,y,train_size = 0.3,test_size = 0.7,shuffle = False) #dzielimy zbiÃ³r na zasadzie 30% pierwszych do testa, reszta do traina

In [ ]:
m1 = DecisionTreeClassifier(random_state=123).fit(X_train, y_train)
m2 = BaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=123), n_estimators = 100)
m3 = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(random_state=123), n_estimators = 100)
m4 = RandomForestClassifier(n_estimators=100, random_state=123)
m1.fit(X_train, y_train)
m2.fit(X_train, y_train)
m3.fit(X_train, y_train)
m4.fit(X_train, y_train)

RandomForestClassifier(random_state=123)

In [ ]:
a =m1.predict_proba(X_test)[:,1]
b = m2.predict_proba(X_test)[:,1]
c = m3.predict_proba(X_test)[:,1]
d = m4.predict_proba(X_test)[:,1]

In [ ]:
print(roc_auc_score(y_test, a),
      roc_auc_score(y_test, b),
      roc_auc_score(y_test, c),
      roc_auc_score(y_test, d))

0.6805555555555554 0.8935185185185185 0.6805555555555554 0.9282407407407407